.top-buffer {
  margin-top: 2%;
}

.lock {
  font-size: 200px;
  margin-bottom: 2%;
  color: #3498DB;
  /*color: white;*/
}

.jumbotron {
  background-color: #3498DB;
}

table thead th {
  color: grey;
}

table tbody td {
  color: #3498DB;
}

form label {
  color: grey;
}

h1, h4 {
  color: grey;
}

.outline-button-primary {
  color: #3498DB;
  border-color: #3498DB;
}

.outline-button-primary:hover {
  color: white;
  background-color: #3498DB;
  border-color: #3498DB;
}

.outline-button-danger {
  color: #E74C3C;
  border-color: #E74C3C;
}

.outline-button-danger:hover {
  color: white;
  background-color: #E74C3C;
  border-color: #E74C3C;
}

.nuke-text {
  color: grey;
}

.nuke-in-span {
  color: #E74C3C;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
