.top-buffer {
  margin-top: 2%;
}

.lock {
  font-size: 200px;
  margin-bottom: 10%;
  color: #3498DB;
  /*color: white;*/
}

.jumbotron {
  background-color: #3498DB;
}

table thead th {
  color: grey;
}

table tbody td {
  color: #3498DB;
}

form label {
  color: grey;
}

h1, h4 {
  color: grey;
}

.outline-button {
  color: #3498DB;
  border-color: #3498DB;
}

.outline-button:hover {
  color: white;
  background-color: #3498DB;
  border-color: #3498DB;
}

input, select, textarea {
  color: #3498DB;
}
